 .DS_Store
.idea
nbproject
/var/*
!/var/labels
/vendor
/public/*
/public/fileadmin/
!/public/.htaccess
!/public/android*.png
!/public/apple*.png
!/public/safari*.svg
!/public/site.webmanifest
!/public/browserconfig.xml
!/public/favicon.ico
!/public/favicon*.png
!/public/google*.html
!/public/pinterest*.html
!/public/mstile*.png
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
crontab
